
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        
    </head>
<body>
    <!--네비게이션 바 구현-->
    <nav class="navTop" th:fragment="menu">
        <div>

        </div>
        <div class="topNav">
            <div class="flex alignCenter">
                <div class="flexCenter navItem">
                    <a aria-current="page" href="/">Home</a>
                </div>
                <div class="flexCenter navItem">
                    <a href="/board/list">List</a>
                </div>
            </div>
            
            <div id="login_state" class="flex alignCenter" sec:authorize="isAuthenticated()">
                <div id="userInfo" style="margin-right: 12px; font-size: 12px;">
                    <span style="font-size: 16px; font-weight: bold;" sec:authentication="name"></span>님 안녕하세요
                </div>
                <form th:action="@{/logout}" method="POST">
                    <button id="LOGOUT_BTN" style="display: none;" type="submit"></button>
                    <div class="navItem sign" id="LOGOUT">
                        LOGOUT
                    </div>
                </form>
                
            </div>
            <div id="logout_state" class="flex alignCenter" sec:authorize="!isAuthenticated()">
                <div class="navItem sign" id="SIGN_IN">
                    SIGN IN
                </div>
                <div class="navItem sign" id="SIGN_UP">
                    SIGN UP
                </div>
            </div>
        </div>
        <script src="../js/nav.js"></script>
    </nav>
</body>
</html>