
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        
    </head>
<body>
    <!--네비게이션 바 구현-->
    <nav class="navTop" th:fragment="menu">
        <div>

        </div>
        <div class="topNav">
            <div class="flex alignCenter">
                <div class="flexCenter navItem">
                    <a aria-current="page" href="/">Home</a>
                </div>
                <div class="flexCenter navItem">
                    <a href="/board/list">List</a>
                </div>
            </div>
            
            <div class="flex alignCenter">
                <div class="navItem sign" id="SIGN_IN">
                    SIGN IN
                </div>
                <div class="navItem sign" id="SIGN_UP">
                    SIGN UP
                </div>
            </div>
        </div>
        <script src="../js/nav.js"></script>
    </nav>
</body>
</html>