:root{
    --primaryColor: rgb(255, 128, 0);
    --secondaryColor: rgb(255, 178, 102);
    --thirdColor: rgb(255, 128, 102);

    --blackPrimaryColor: black;
    --blackSecondaryColor: rgb(100, 100, 100);

    --whitePrimaryColor: white;
    --whiteSecondaryColor: rgb(100, 100, 100);
}

* {
    position: relaive;
    box-sizing: border-box;
}

.navTop{
    padding: 10px;
    border-top: 1px solid #e4e8eb;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navItem{
    cursor: pointer;

    color: var(--blackSecondaryColor);
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    vertical-align: middle;
    text-align: center;

    width: 100px;
    height: 30px;
    padding: 8px 0;
}
.navItem a:visited{
    color: rgb(73, 73, 73);
}
.navItem.selected{
    color: var(--blackPrimaryColor);
    font-weight: bold;

    background-color: var(--primaryColor)
}
.navItem.selected a:visited{
    color: var(--blackPrimaryColor);
}
.navItem a{
    width: 100%;
    height: 100%;
}
.navItem:first-child{
    border-radius: 12px 0px 0px 12px;
}
.navItem:last-child{
    border-right: none;
    border-radius: 0px 12px 12px 0px;
}

.navItem.sign{
    font-size: 16px;
    line-height: 16px;
    padding: 6px 0px;
    font-weight: bold;
    
    border: 1px solid var(--primaryColor);
    border-right: 0px;
    background-color: var(--secondaryColor);
}
.navItem.sign:last-child{
    border-right: 1px solid var(--primaryColor);
}

.navItem:hover{
    background-color: var(--thirdColor);
}



/* 로그인 정보 입력 */
.loginInfo{
    width: 300px;
    box-sizing: content-box;
    position: relative;
    color: var(--blackPrimaryColor);
    border: 1px solid var(--blackSecondaryColor);
    border-radius: 6px;
}
.loginInfo input{
    width: 100%;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: bold;
    border: none !important;
    border-radius: 6px;
}
.loginInfo label{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 16px 12px;
    pointer-events: none;
    border: none !important;
    border-radius: 6px;
    transition-duration: 250ms;
}
.loginInfo.Selected{
    border: 1px solid #0d6efd;
    box-shadow: 0 5px 5px 0 rgba(100, 100, 100, 0.12);
}
.loginInfo.Selected input, .loginInfo.inserted input{
    padding: 20px 12px 12px 12px;
}
.loginInfo.Selected label, .loginInfo.inserted label{
    font-size: 8px;
    height: 50%;
    color: var(--blackSecondaryColor);
    padding-top: 8px;
}

.loginBtn{
    background-color: #0d6efd;
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 6px;
    color: var(--whitePrimaryColor);
    font-size: 18px;
}

.invalid_alert{
    width: 100%;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.positive_alert{
    width: 100%;
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    padding: 20px 10px;
    margin-bottom: 10px;
}